* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.accordion {
  margin: 15px;
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: wheat;
  margin-bottom: 5px;
}
.active i {
  transform: rotate(90deg);
}
.accordion_content {
  display: none;
}

.active .accordion_content {
  display: block;
}
