@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  margin-top: 18px;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header ul {
  list-style: none;
  display: flex;
}
header ul li:not(:last-child) {
  margin-right: 60px;
}
header ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: #505f98;
}
.logo {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.46;
  color: #37447e;
  user-select: none;
  cursor: pointer;
}
.blue-button {
  background-color: #111b47;
  color: #fff;
  padding: 4px 0;
  border-radius: 2px;
  border: 2px solid;
  width: 160px;
  height: 26px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.home-section {
  background-image: url(../1/img/Home-section-background.jpg);
  position: absolute;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1112px;
  width: 100%;
  top: 0;
  z-index: -1;
}
article {
  margin-top: 303px;
  margin-bottom: 69px;
  width: 539px;
}
article h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.32;
  color: #091133;
  margin-bottom: 20px;
}
article p {
  font-size: 18px;
  line-height: 1.67;
  color: #505f98;
}
.container .blue-button {
  background-color: #111b47;
  color: #fff;
  padding: 4px 0;
  border-radius: 2px;
  border: 2px solid;
  width: 160px;
  height: 26px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 5px 0;
  width: 189px;
  height: 36px;
}
.outline-blue-button {
  color: #091133;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid;
  width: 160px;
  height: 26px;
  cursor: pointer;
  margin-left: 30px;
  padding: 5px 0;
  width: 189px;
  height: 36px;
}
