@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  height: 1112px;
  background-image: url(Homesectionbackground.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: top right;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  padding-top: 18px;
}
ul {
  display: flex;
  flex-direction: row;
  margin-left: 165px;
  font-size: 14px;
  line-height: 24px;
  align-self: center;
}
li {
  list-style: none;
  margin-right: 60px;
}

a {
  text-decoration: none;
  color: #505f98;
}
.logo {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.46;
  color: #37447e;
  align-self: center;
  margin-right: 150px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.buy {
  width: 160px;
  height: 26px;
  border-radius: 2px;
  border-color: #111b47;
  background-color: #111b47;
  margin-right: 165px;

  align-self: center;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.purch {
  width: 189px;
  height: 36px;
  padding: 5px 0;
  border-radius: 2px;
  border-color: #111b47;
  background-color: #111b47;
  margin-right: 30.2px;
  align-self: center;
  margin-top: 69px;

  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.learn {
  width: 189px;
  height: 36px;
  padding: 5px 0;
  border-radius: 2px;
  background-color: transparent;
  border-color: #111b47;
  align-self: center;
  color: #091133;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
section {
  width: 539px;
  margin-left: 163.1px;
  margin-top: 225px;
}
.text-tittle {
  font-size: 50px;
  color: #091133;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 132px;
}
.text-content {
  font-size: 18px;
  color: #505f98;
  margin-top: 20px;
  width: 539px;
  height: 164px;
  margin: 20px 0 0;
  line-height: 1.67;
  color: #505f98;
}
