@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono";
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  width: 335px;
  margin-bottom: 10px;
}
form {
  display: flex;
  width: 335px;
  flex-direction: column;
  font-size: 12px;
}
form div {
  margin-bottom: 8px;
}
.images {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
.card-back {
  margin-bottom: 23px;
  width: 335px;
  height: 185px;
  position: absolute;
}
.card-front {
  margin-bottom: 23px;
  width: 335px;
  height: 185px;
  backface-visibility: hidden;
  position: absolute;
}
.images p {
  color: #d6d6d6;
}
.card-name-pre {
  position: absolute;
  right: -157px;
  top: 140px;
  visibility: hidden;
  width: 300px;
}
.card-number-pre {
  position: absolute;
  right: -110px;
  visibility: hidden;
  top: 65px;
  width: 250px;
}
.card-date-pre {
  position: absolute;
  visibility: hidden;
  left: 60px;
  top: 140px;
}
.cvv-pre {
  position: absolute;
  left: 60px;
  top: 67px;
  color: black !important;
  visibility: hidden;
}
.delay {
  transition-delay: 540ms;
}
.active {
  visibility: visible !important;
}
.active-cvv {
  visibility: visible !important;
}
.namee {
  display: flex;
  flex-direction: column;
}
.number {
  display: flex;
  flex-direction: column;
}
.card-date {
  display: flex;
}
.cvv {
  margin-left: 49px;
}
.cvv input {
  width: 100%;
}

input {
  border: none;
  border-bottom: 1.5px solid;
  outline: none;
  margin-top: 5px;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes start {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
