/* Volkhov FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*Poppis Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1170px;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  background-color: #fefcfb;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
}
header .container .logo {
  display: flex;
  align-items: center;
}
header .container .logo img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
header .container .logo p {
  font-family: "Volkhov", serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.14px;
  color: #222;
  user-select: none;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  margin-right: 32px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: black;
}
.buttons {
  font-family: "Poppins", serif;
  font-weight: 600;
  cursor: pointer;
}
.login-btn {
  font-size: 16px;
  color: #fd8d3a;
  background-color: transparent;
  border: none;
  margin-right: 56px;
  cursor: pointer;
}
.orange-btn {
  width: 160px;
  height: 50px;
  background-color: #fa7436;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
}
.orange-btn:hover {
  color: #fa7436;
  background-color: #fff;
  border: #fa7436;
  border: 1px solid;
}
header .container i {
  display: none;
}

/* Home Section */

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  background-color: #fefcfb;
}
.home-section .container {
  display: flex;
}
figure .section-one {
  width: 785px;
  height: 585px;
}
.content-home {
  width: 521px;
  padding-top: 96px;
}
.content-home h1 {
  font-family: "Volkhov", serif;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.09;
  color: #222;
}
span {
  color: #fa7436;
}
.content-home p {
  margin: 32px 24px 64px 0;
  font-family: "Poppins", serif;
  font-size: 20px;
  line-height: 2;
  color: #666;
  width: 525px;
}
.discover-btn {
  width: 178px;
  height: 60px;
  border-radius: 5px;
  border: solid 1px #fa7436;
  background-color: #fff;
  color: #fa7436;
  cursor: pointer;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.78;
}
.discover-btn:hover {
  background-color: #fa7436;
  color: #fff;
}
/* Search-Bar*/

.search-bar {
  display: flex;
  justify-content: center;
  padding: 55px 0px 120px 0px;
  background-color: #fefcfb;
}
.search-bar .container {
  display: flex;
  justify-content: center;
}

.search-bar .search-bar-header {
  display: flex;
  max-width: 840px;
  padding: 45px 65px;
  border-radius: 10px;
  box-shadow: 0 2px 80px 2px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
.search-bar .search-bar-title {
  display: flex;
  margin-bottom: 10px;
}
.search-bar .search-bar-title p {
  margin-right: 113px;
  width: 60px;
  user-select: none;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 500;
}
.search-bar .search-bar-content .content input {
  border: none;
  outline: none;
}
.search-bar .orange-btn {
  margin-left: 30px;
}
/*
/* 

About- Section

*/
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8fc;
  padding-top: 120px;
  padding-bottom: 125px;
}
.about-title {
  display: flex;
  justify-content: center;
  margin-left: 180px;
}
.about-box {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
}
.about-box h2 {
  margin: 0 0 24px;
  font-family: "Volkhov", serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.13;
  color: #222;
}
.about-box h2 span {
  color: #fa7436;
}
.about-box p {
  width: 482px;
  font-family: "Poppins", serif;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  color: #666;
  align-self: center;
}
.title-img {
  width: 179.9px;
  height: 130.7px;
}
.boxs {
  display: flex;
  max-width: 1170px;
}
.box {
  width: 370px;
  height: 278px;
  margin: 40px;
  background-color: #fff;
  position: relative;
}
.box h3 {
  font-family: "Poppins", serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  color: #222;
  margin-left: 35.5px;
  margin-bottom: 16px;
  position: relative;
  z-index: 2;
}
.box p {
  width: 290px;
  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 1.63;
  color: #666;
  position: relative;
  margin-left: 35.5px;
  z-index: 2;
}
.background-1,
.background-2 {
  width: 370px;
  height: 278px;
  position: absolute;
  z-index: 0;
}
.icon {
  margin-left: 35.5px;
  width: 41.1px;
  height: 48px;
  margin-top: 35px;
  margin-bottom: 48px;
  position: relative;
  z-index: 2;
}

/* 

About- Section

*/
/* 

Book- Now- Section

*/
.book-now {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.book-now h2 {
  text-align: center;
  margin: 120px 0px 24px 0px;
  font-family: "Volkhov", serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.13;
}
.book-now p {
  width: 433px;
  font-family: "Poppins", serif;
  font-size: 18px;
  line-height: 1.78;
  color: #666;
  text-align: center;
  margin-bottom: 64px;
  justify-self: center;
}
.book-now .carousel-box {
  width: 280px;
  height: 426px;
  border-radius: 8px;
  border: solid 2px rgba(102, 102, 102, 0.08);
  background-color: #fefcfb;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 19px;
}
.row .charge {
  text-decoration: line-through;
  color: #666;
  width: 50px;
  margin-right: 16px;
}
.row .now-charge {
  color: #fa7436;
  width: 52px;
  height: 28px;
  padding: 2px 5px;
  border-radius: 8px;
  background-color: #ffe7db;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #fa7436;
  margin-right: 16px;
}
.book-now .carousel .carousel-box img {
  width: 280px;
  height: 290px;
}
.city {
  margin: 0 70px 0 16px !important;
  font-family: "Poppins", serif !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 1.08 !important;
  text-align: start !important;
  color: #222 !important;
}

.book-now .carousel .carousel-box .book-now-div {
  width: 270px;
  height: 290px;
  background-color: rgba(85, 85, 85, 0.6);
  position: absolute;
}

.Location {
  margin-left: 16px !important;
  margin-right: 49px !important;
  font-family: "Poppins", serif !important;
  font-size: 16px !important;
  line-height: 1.25 !important;
  text-align: center !important;
  color: #666 !important;
  text-align: start !important;
}
.Location i {
  margin-right: 3px;
}
.book-now .next-previous-btn {
  margin-top: 64px;
  margin-bottom: 120px;
  justify-self: center;
  margin-left: 32px;
}
.book-now .next-previous-btn i {
  margin-right: 32px;
}
.next-previous-btn i:hover {
  color: #fa7436 !important;
}
.next-previous-btn i {
  cursor: pointer;
}

/* 
Book- Now- Section
*/

/* 
best-vacation- Section
*/
.best-vacation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.best-vacation-content {
  display: flex;
  justify-content: center;
  margin-left: 105px;
}
.background-best-vacation {
  width: 105px;
  height: 81px;
  object-fit: contain;
}
.best-vacation h2 {
  text-align: center;
  font-family: "Volkhov", serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.13;
  margin-bottom: 24px;
}
.best-p {
  width: 521px;
  font-family: "Poppins", serif;
  font-size: 18px;
  line-height: 1.78;
  color: #666;
  text-align: center;
  margin-bottom: 64px;
}
.best-vacation .carousel-box {
  width: 370px;
  height: 467px;
  margin: 24px 30px 120px 0;
  border-radius: 16px;
  border: solid 2px rgba(102, 102, 102, 0.08);
  background-color: #fff;
}
.best-vacation .carousel-box .row .carousel-location {
  font-family: "Poppins", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.08;
  color: #222;
  margin-left: 26px;
  width: 160px;
}
.price {
  font-family: "Poppins", serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #fa7436;
  margin-left: 80px;
}
.best-vacation .carousel-box .row .distance {
  height: 24px;
  width: 150px;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #666;
  margin-left: 29px;
}
.best-vacation .carousel-box .row .distance i {
  margin-right: 18px;
}
.best-vacation .carousel-box .row .reiting {
  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #666;
  margin-left: 125px;
}
.best-vacation .next-previous-btn {
  justify-self: end;
}
.best-vacation .next-previous-btn i {
  margin-left: 32px;
}
/* 
best-vacation- Section
*/
/* 
Comment - Section
*/
.comments-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f7f8fc;
  padding-top: 120px;
  padding-bottom: 208px;
}
.comments-section .container {
  display: flex;
  position: relative;
}
.comments-section .content {
  display: flex;
  flex-direction: column;
}
.comments-section .comments {
  margin-left: 175px;
}
.comments-section .content h2 {
  width: 388px;
  height: 108px;
  font-family: "Volkhov", serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.13;
  color: #222;
}
.comments-section .content p {
  width: 394px;
  height: 64px;
  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 2;
  color: #666;
  margin-top: 24px;
  margin-left: 0px;
  margin-bottom: 32px;
}
.comments-section .content .next-previous-btn i {
  margin-right: 32px;
}

.comments-section .comments .comment-box {
  width: 504px;
  height: 245px;
  padding: 28px 68px 34px 34px;
  border-radius: 10px;
  box-shadow: 0 1.9px 3.1px 0 rgba(0, 0, 0, 0),
    0 8.1px 6.5px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01),
    0 38.5px 25.5px 0 rgba(0, 0, 0, 0.01), 0 64.8px 46.9px 0 rgba(0, 0, 0, 0.02),
    0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background-color: #fff;
  position: absolute;
  z-index: 2;
  margin-top: 50px;
}
.comment {
  width: 402px;
  height: 96px;
  margin: 0 0 34px;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: #444;
}
.full-name {
  width: 150px;
  height: 27px;
  margin: 55px 301px 5px 0;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}
.comment-state {
  width: 156px;
  height: 21px;
  margin: 5px 286px 0 0;
  font-family: "Poppins", serif;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.comments-section .comments .face-img {
  width: 68px;
  height: 68px;
  object-fit: contain;
  top: 0px;
  right: 565px;
  z-index: 3;
  position: absolute;
}

.comments-section .comments .comment-box2 {
  width: 504px;
  height: 245px;
  padding: 16px 66px 22px 34px;
  border-radius: 10px;
  background-color: rgba(240, 241, 245);
  position: absolute;
  top: 130px;
  right: 50px;
  z-index: 1;
}
.comment-box2 .comment-state,
.comment-box2 .full-name {
  opacity: 0.5;
}
.comments-bg-img {
  width: 168.6px;
  height: 188.1px;
  object-fit: contain;
  margin-left: 500px;
  margin-top: -50px;
}

/* 
Comment - Section
*/
/* 
update-section
*/
.update-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.update-section .carousel {
  display: flex;
}
.update-section .carousel-box {
  width: 270px;
  height: 426px;
  margin: 0 28px 0 0;
  padding: 0 0 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.update-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 379px;
  position: relative;
  width: 100%;
}
.update-section h2 {
  font-family: "Volkhov", serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.13;
  margin-bottom: 64px;
}
.update-section .update-content {
  width: 244px;
  height: 20px;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  color: #222;
  margin-left: 5px;
}
.update-section .date {
  width: 98px;
  height: 26px;
  margin: 16px 146px 0 0;
  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 1.63;
  color: #999;
  margin-left: 5px;
}

.update-section .row {
  margin-top: 24px !important;
}
.update-section .contact-us {
  width: 1170px;
  height: 416px;
  margin: 0 0.2px 0 0;
  border-radius: 16px;
  background-color: #fa7436;
  position: absolute;
  bottom: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.update-section .contact-us h2 {
  width: 708px;
  height: 125px;
  margin: 0 0 64px;
  font-family: "Volkhov", serif;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  align-self: center;
  text-align: center;
}
.update-section .contact-us input {
  width: 674px;
  height: 68px;
  margin: 64px 19px 0 15px;
  padding: 9px 9px 9px 22px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  position: relative;
  padding-left: 50px;
  font-family: "Poppins", serif;
  font-size: 16px;
  color: #999;
  z-index: 2;
  bottom: 75px;
}
.update-section .contact-us i {
  position: absolute;
  bottom: 155px;
  left: 265px;
  z-index: 2;
}
.update-section .contact-us button {
  position: absolute;
  padding: 13px 26px;
  border-radius: 8px;
  background-color: #fa7436;
  color: #fff;
  border: none;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: normal;
  bottom: 130px;
  right: 260px;
  z-index: 2;
}
.update-section .contact-us button:hover {
  color: #fa7436 !important;
  background-color: #fff !important;
  border: #fa7436 !important;
  border: 1px solid !important;
}
.update-section .contact-bg-circle {
  position: absolute;
  width: 480px;
  height: 361px;
  margin: 46px 575px 0 0;
  object-fit: contain;
  z-index: 1;
  bottom: 0;
  left: 0;
}
.update-section .contact-bg-tree {
  width: 112.2px;
  height: 113.1px;
  margin: 0 0 293.9px 76px;
  object-fit: contain;
  position: absolute;
  right: 0;
}
.circles {
  display: flex;
  bottom: 320px;
  align-items: center;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #e5e5e5;
  margin-right: 10px;
  cursor: pointer;
}
.active-circle {
  width: 13px;
  height: 13px;
  background-color: #fa7436;
}
/* 
update-section
*/
/* 
Footer
*/
footer {
  display: flex;
  flex-direction: row;
  background-color: #f7f8fc;
  justify-content: center;
}
footer .container {
  display: flex;
  flex-direction: column;
}
footer .row {
  display: flex;
  align-items: center;
  margin-top: 420px;
  margin-bottom: 165px;
  justify-content: space-between;
}
footer .row:last-child {
  margin-bottom: 48px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
footer .communication .icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  margin-right: 26px;
  cursor: pointer;
}

footer .communication .icon-circle i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
footer .communication .icon-circle:hover {
  background-color: #fa7436;
}
footer .communication .icon-circle i:hover {
  color: #fff;
}

.social-icons {
  display: flex;
}

footer .communication p {
  width: 254px;
  height: 64px;
  margin: 24px 0 16px;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: #666;
}

footer .communication h3 {
  height: 24px;
  font-family: "Volkhov", serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.14px;
  color: #222;
}
.cols {
  display: flex;
  margin-right: 0px;
  height: 168px;
  justify-content: space-around;
  width: 700px;
}
footer .row .cols .col ul {
  list-style: none;
}
footer .row .cols .col ul li {
  margin-top: 16px;
  font-family: "Poppins", serif;
  font-size: 18px;
  line-height: 1.44;
}
footer .row .cols .col ul li a {
  text-decoration: none;
  color: #666;
}
footer .row .cols .col h3 {
  width: 92px;
  height: 26px;
  margin: 0 48px 32px 0;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44;
  color: #222;
}
.line {
  width: 1170px;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.56);
  align-self: center;
}
footer .row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 48px;
  align-items: center;
}
footer .row2 .row2-p {
  height: 24px;
  opacity: 0.8;
  font-family: "Poppins", serif;
  font-size: 16px;
  color: #666;
}
footer .row2 span {
  opacity: 0.8 !important;
  font-family: "Poppins", serif !important;
  font-size: 16px !important;
  color: #666 !important;
}
/* 
Footer
*/

/*

! MEDİA QUERY

*/
@media (max-width: 600px) {
  .container {
    width: 400px;
  }
  /*Header*/
  header .container {
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .mobil {
    display: none;
    margin-top: 50px;
    width: 400px;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    margin-bottom: 25px;
    justify-self: center;
  }
  #mobile-menu {
    display: none;
    margin-top: 20px;
    align-self: center;
    text-align: center;
  }

  .buttons {
    display: none;
    align-self: center;
  }
  #hamburger {
    display: inline-block;
    cursor: pointer;
    margin-left: 330px;
    margin-top: -15px;
  }

  /*Header*/

  /* Home-Section*/
  .home-section {
    padding-top: 0;
  }
  .home-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-top: 50px;
  }
  .content-home h1 {
    font-size: 50px;
    width: 375px;
  }
  .content-home p {
    font-size: 16px;
    width: 375px;
    margin: 0 0px 15px 0px;
  }
  figure .section-one {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
  /* Home Section*/
  /* Search-Bar*/
  .search-bar .search-bar-header {
    flex-direction: column;
    padding: 25px 20px 20px 20px;
    align-items: center;
  }
  .search-bar .search-bar-content {
    display: flex;
    flex-direction: row;
    width: 320px;
  }
  .search-bar .search-bar-content input {
    margin-bottom: 7px;
    width: 130px;
  }
  .search-bar .search-bar-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .search-bar .orange-btn {
    margin-left: 0px;
  }
  /* Search-Bar*/
  /* 
About- Section
*/
  .about-section .about-title {
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
  }
  .about-box {
    align-items: center;
  }
  .about-box h2 {
    width: 375px;
    font-size: 32px;
    text-align: center;
  }
  .about-box p {
    width: 375px;
    font-size: 16px;
  }
  .boxs {
    flex-direction: column;
    align-items: center;
  }

  /* 
About- Section
*/

  /* 
Book - Now -Section
*/
  .book-now h2 {
    font-size: 32px;
  }
  .book-now p {
    font-size: 16px;
    width: 375px;
  }
  .carousel-box {
    justify-self: center !important;
  }
  /* 
Book - Now -Section
*/

  /* 
best-vacation- Section
*/
  .best-vacation-content {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 70px;
  }
  .best-vacation h2 {
    font-size: 32px;
  }
  .best-p {
    width: 375px;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .best-vacation .carousel-box {
    margin-left: 25px;
  }
  .best-vacation .next-previous-btn {
    margin-right: 20px;
  }
  /* 
best-vacation- Section
*/
  /* 
Comment - Section
*/
  .comments-section {
    padding-bottom: 270px;
    padding-top: 170px;
  }
  .comments-section .container {
    flex-direction: column;
  }
  .comments-section .content {
    align-items: center;
  }
  .comments-section .content h2 {
    width: 350px;
    font-size: 32px;
    margin-left: 50px;
  }
  .comments-section .content p {
    width: 350px;
  }
  .comments-section .comments {
    margin-left: 20px;
    margin-top: 50px;
  }
  .comments-section .comments .comment-box {
    margin-top: 0px;
    width: 350px;
  }
  .comments-section .comments .comment-box2 {
    width: 350px;
    background-color: rgba(240, 241, 245);
    position: absolute;
    top: 375px;
    left: 35px;
    z-index: 1;
    padding-left: 15px;
  }
  .comment {
    width: 300px;
    font-size: 12px;
  }
  .comments-bg-img {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 430px;
    left: 220px;
  }
  .comments-section .comments .face-img {
    top: 250px;
    left: 10px;
  }

  /* 
Comment - Section
*/
  /* 
update-section
*/
  .update-section h2 {
    font-size: 32px;
    text-align: center;
  }
  .update-section .carousel {
    margin-left: 30px;
  }
  .update-section .contact-us {
    width: 375px;
    height: 500px;
    display: flex;
  }
  .update-section .contact-us h2 {
    width: 370px;
    font-size: 30px;
    margin-top: 50px;
  }
  .update-section .contact-us input {
    width: 340px;
    height: 50px;
    font-size: 14px;
    margin: 0px;
  }
  .update-section .contact-us i {
    bottom: 205px;
    left: 30px;
  }
  .update-section .contact-us button {
    padding: 7px 12px;
    font-size: 14px;
    bottom: 188px;
    right: 30px;
  }
  .update-section .contact-bg-circle {
    width: 350px;
    height: 260px;
    bottom: 0px;
  }
  .update-section .contact-bg-tree {
    right: 5px;
    top: 5px;
  }
  /* 
update-section
*/
  /* 
Footer
*/

  footer .row {
    flex-direction: column;
    height: 700px;
    margin-top: 250px;
    margin-bottom: 100px;
  }
  footer .cols {
    height: auto;
    width: auto;
    flex-direction: column;
    margin-left: -100px;
    margin-top: 30px;
  }
  footer .cols .col {
    margin-top: 20px;
  }
  footer .row .cols .col h3 {
    margin: 0;
  }
  footer .row2 {
    flex-direction: column;
  }
  .line {
    width: 375px;
  }
  /* 
Footer
*/
}
