* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  color: white;
  width: 500px;
  height: 500px;
  border-radius: 100%;
}
.box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.board {
  font-size: 125px;
  user-select: none;
}
.plus {
  font-size: 200px;
  cursor: pointer;
  user-select: none;
}
.reset {
  font-size: 100px;
  cursor: pointer;
  user-select: none;
}
