* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  color: white;
  width: 100vh;
  height: 100vh;
  border-radius: 100%;
  /* margin-left: 30%;
  margin-top: 5%; */
}
.box-container {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}
.board {
  margin-top: 0px;
  font-size: 125px;
  user-select: none;
}
.plus {
  margin-right: 250px;
  font-size: 200px;
  cursor: pointer;
  user-select: none;
}
.reset {
  margin-top: 59px;
  font-size: 100px;
  cursor: pointer;
  user-select: none;
}
