* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  width: 100vw;
  height: 100vh;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-round {
  background-color: rgba(235, 231, 108, 0.5);
}
.box-round-shape {
  background-color: #ebe76c;
  width: 221px;
  height: 221px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.box-triangle {
  background-color: rgba(240, 184, 110, 0.5);
}
.box-triangle-shape {
  width: 0;
  height: 0;
  border-bottom: 200px solid #f0b86e;
  border-left: 117px solid transparent;
  border-right: 117px solid transparent;
}
.box-square {
  background-color: rgba(237, 123, 123, 0.5);
}
.box-square-shape {
  background-color: #ed7b7b;
  width: 159px;
  height: 163px;
}
.box-rectangle {
  background-color: rgba(131, 96, 150, 0.5);
}
.box-rectangle-shape {
  background-color: #836096;
  width: 327px;
  height: 163px;
}

.line-y {
  align-self: center;
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: black;
  left: 25%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.line-x {
  position: absolute;
  width: 5px;
  height: 50%;
  background-color: black;
  align-self: center;
  left: 50%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
